{% extends 'template_loader.html.twig' %}
	{% block title %}
        Inscription | Gestion Stages
    {% endblock %}
	{% block script_head %}
        <link href="{{ asset('css/inscription.css') }}"/>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endblock %}
	{% block body_class %}
        uk-margin-large
    {% endblock %}
	{% block body %}
<main class="uk-height-1-1">
    <div class="uk-margin-medium-top uk-align-center" style="width: 250px;">
        {% for message in app.flashes('error') %}
            <div class="flash-error">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_errors(form) }}
        {{ form_start(form, {'attr': {'class' : 'uk-text-center uk-padding-small'}}) }}

        <div class="uk-margin">
            <div class="uk-inline">
                <span
                        class="uk-form-icon"
                        uk-icon="icon: user">
                </span>
                {{ form_widget(form.lastname) }}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span
                        class="uk-form-icon"
                        uk-icon="icon: user">
                </span>
                {{ form_widget(form.firstname) }}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span
                        class="uk-form-icon"
                        uk-icon="icon: mail">
                </span>
                {{ form_widget(form.mail) }}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span
                        class="uk-form-icon"
                        uk-icon="icon: phone">
                </span>
                {{ form_widget(form.phoneNumber) }}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span
                        class="uk-form-icon"
                        uk-icon="icon: user">
                </span>
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span
                        class="uk-form-icon"
                        uk-icon="icon: user">
                </span>
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LeL0poUAAAAAEMkl0PbqxPFzx4fhKxkuXd3KVs9"></div>

        <div class="uk-margin">
            <button type="submit"
                    class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Inscription</button>
        </div>
        {{ form_end(form) }}
    </div>
</main>
    {% endblock %}
