<nav class="uk-navbar-container uk-margin"
     uk-navbar>
    <div class="uk-navbar-left">
        <!--                <img class="uk-width-expand" src="assets/pictures/logo.jpg">-->
        <a class="uk-navbar-item uk-logo"
           href="#">Logo
        </a>
        <ul class="uk-navbar-nav">
            <li class="{% if page is defined and page == 'home' %}uk-active{% endif %}">
                <a href="{{ path('homepage_prof') }}">
                    <span class="uk-icon uk-margin-small-right"
                          uk-icon="icon: home"></span>
                    Accueil
                </a>
            </li>
            <li class="{% if page is defined and page == 'liste_entreprise_page' %}uk-active{% endif %}">
                <a href="{{ path('liste_entreprise_page') }}">
                    <span class="uk-icon uk-margin-small-right"
                          uk-icon="icon: search"></span>
                    Entreprises
                </a>
            </li>
            <li class="{% if page is defined and page == 'stages' %}uk-active{% endif %}">
                <a href="{{ path('information_stage') }}">
                    <span class="uk-icon uk-margin-small-right"
                          uk-icon="icon: search"></span>
                    Stages
                </a>
            </li>
            <li class="{% if page is defined and page == 'contact' %}uk-active{% endif %}">
                <a href="{{ path('contact_prof') }}">
                    <span class="uk-icon uk-margin-small-right"
                          uk-icon="icon: mail"></span>
                    Contact
                </a>
            </li>
            <li>
                <a href="{{ path('liste-utilisateur') }}">
                        <span class="uk-icon uk-margin-small-right"
                              uk-icon="icon: list"></span>
                    Utilisateurs
                </a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#"
                   class="uk-padding">
                    <span uk-icon="icon: user"></span>
                    <span class="uk-padding-small">{{ app.session.get("first_name") }}</span>
                </a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li>
                            <a href="{{ path('modification-professeur', {'id': app.user.id}) }}">
                                <span uk-icon="icon: cog"
                                      class="uk-padding-small"></span>
                                Parametres
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">
                                <span uk-icon="icon: sign-out"
                                      class="uk-padding-small"></span>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
